## FUCNTIONS FROM PANDAS

In [8]:
import pandas as pd
from pandas import Series,DataFrame
d1 = Series([8,9,45,32,5,1])

In [9]:
d1.index

RangeIndex(start=0, stop=6, step=1)

In [10]:
d1.values

array([ 8,  9, 45, 32,  5,  1], dtype=int64)

In [11]:
d1

0     8
1     9
2    45
3    32
4     5
5     1
dtype: int64

In [13]:
d1 = Series([8,9,45,32,5,1],index = ['a','b','c','d','e','f'])

In [14]:
d1

a     8
b     9
c    45
d    32
e     5
f     1
dtype: int64

In [17]:
d1['g'] = 67

In [18]:
d1

a     8
b     9
c    45
d    32
e     5
f     1
g    67
dtype: int64

In [16]:
d1.describe()

count     6.000000
mean     16.666667
std      17.625739
min       1.000000
25%       5.750000
50%       8.500000
75%      26.250000
max      45.000000
dtype: float64

In [19]:
print(d1<10)

a     True
b     True
c    False
d    False
e     True
f     True
g    False
dtype: bool

In [20]:
print(d1[d1<10])

a    8
b    9
e    5
f    1
dtype: int64

## create 100 random numbers btw 1-100 using series  and find the sum of all those numbers that lies btw 40 and 60

In [24]:
import pandas as pd
import random
from pandas import Series, DataFrame
d2 = Series([random.randint(1,100) for i in range(100)])

In [31]:
s = d2[(d2>=40) & (d2<=60)]
print(s)
total_sum = sum(s)
print(total_sum)

0     59
3     51
7     41
8     55
9     52
10    56
18    47
20    46
26    56
27    41
30    43
41    59
43    40
53    41
55    47
56    40
69    43
78    47
82    40
85    50
87    57
88    55
89    47
dtype: int64
1113

In [32]:
len(s)

23

In [35]:
d2.head(10)

0    59
1     5
2    73
3    51
4    27
5    88
6    28
7    41
8    55
9    52
dtype: int64

In [36]:
d2.tail(10)

90    10
91    81
92    88
93    19
94    97
95    76
96     3
97    71
98    91
99    26
dtype: int64

In [37]:
d2*d2

0     3481
1       25
2     5329
3     2601
4      729
5     7744
6      784
7     1681
8     3025
9     2704
10    3136
11    9801
12      49
13    6561
14     729
15    7056
16      64
17    7744
18    2209
19     169
20    2116
21    4761
22    4096
23    8649
24    3969
25    1024
26    3136
27    1681
28    8464
29     961
      ...
70      36
71     576
72    5929
73      16
74    8100
75     256
76      25
77    4489
78    2209
79    3969
80    5041
81     729
82    1600
83    7569
84    8836
85    2500
86     324
87    3249
88    3025
89    2209
90     100
91    6561
92    7744
93     361
94    9409
95    5776
96       9
97    5041
98    8281
99     676
Length: 100, dtype: int64

In [38]:
d2.describe()

count    100.000000
mean      52.330000
std       29.884645
min        2.000000
25%       27.750000
50%       51.500000
75%       81.250000
max       99.000000
dtype: float64

In [39]:
list(d2.items())

[(0, 59),
 (1, 5),
 (2, 73),
 (3, 51),
 (4, 27),
 (5, 88),
 (6, 28),
 (7, 41),
 (8, 55),
 (9, 52),
 (10, 56),
 (11, 99),
 (12, 7),
 (13, 81),
 (14, 27),
 (15, 84),
 (16, 8),
 (17, 88),
 (18, 47),
 (19, 13),
 (20, 46),
 (21, 69),
 (22, 64),
 (23, 93),
 (24, 63),
 (25, 32),
 (26, 56),
 (27, 41),
 (28, 92),
 (29, 31),
 (30, 43),
 (31, 94),
 (32, 94),
 (33, 20),
 (34, 32),
 (35, 99),
 (36, 4),
 (37, 86),
 (38, 33),
 (39, 4),
 (40, 87),
 (41, 59),
 (42, 97),
 (43, 40),
 (44, 68),
 (45, 83),
 (46, 66),
 (47, 36),
 (48, 88),
 (49, 85),
 (50, 14),
 (51, 2),
 (52, 81),
 (53, 41),
 (54, 93),
 (55, 47),
 (56, 40),
 (57, 89),
 (58, 33),
 (59, 31),
 (60, 82),
 (61, 29),
 (62, 82),
 (63, 7),
 (64, 20),
 (65, 28),
 (66, 22),
 (67, 75),
 (68, 73),
 (69, 43),
 (70, 6),
 (71, 24),
 (72, 77),
 (73, 4),
 (74, 90),
 (75, 16),
 (76, 5),
 (77, 67),
 (78, 47),
 (79, 63),
 (80, 71),
 (81, 27),
 (82, 40),
 (83, 87),
 (84, 94),
 (85, 50),
 (86, 18),
 (87, 57),
 (88, 55),
 (89, 47),
 (90, 10),
 (91, 81),
 (92, 88),
 (93, 19),
 (94, 97),
 (95, 76),
 (96, 3),
 (97, 71),
 (98, 91),
 (99, 26)]

## CREATE A DICT OF POPULATION OF 7-8 STATES

In [40]:
import pandas as pd
from pandas import Series, DataFrame

population = {'AP':89,'MP':45,'TN':67,'UP':64,'JK':85,'MAH':87}

In [41]:
Series(population)

AP     89
MP     45
TN     67
UP     64
JK     85
MAH    87
dtype: int64

In [43]:
States = {'AP','TN','MP','UP','JK','GUJ','MAH','GOA'}
d3 = Series(population, index = States)
print(d3)

MP     45.0
GUJ     NaN
UP     64.0
MAH    87.0
TN     67.0
JK     85.0
AP     89.0
GOA     NaN
dtype: float64

In [44]:
pd.isnull(d3)

MP     False
GUJ     True
UP     False
MAH    False
TN     False
JK     False
AP     False
GOA     True
dtype: bool

In [45]:
pd.notnull(d3)

MP      True
GUJ    False
UP      True
MAH     True
TN      True
JK      True
AP      True
GOA    False
dtype: bool

In [46]:
sum(pd.notnull(d3))

6

In [48]:
d3[pd.isnull]=100

In [49]:
d3

MP      45.0
GUJ    100.0
UP      64.0
MAH     87.0
TN      67.0
JK      85.0
AP      89.0
GOA    100.0
dtype: float64

## create a dataframe of population and density of 10 indian states
## 1st column = states, 2nd coulmn = population and 3rd column = density

In [59]:
import pandas as pd
from pandas import Series, DataFrame
population = {'U.P' : 10 ,'M.P' : 20 ,'A.P' : 30 ,'T.N' : 40 ,'BIH' : 12 , 'W.B' : 30, 'J.K' : 16}
density =  {'U.P' : 828 ,'M.P' : 236 ,'A.P' : 303 ,'T.N' : 555 ,'BIH' : 1102 , 'W.B' : 1029, 'J.K' : 57}

In [60]:
population = Series(population)
density = Series(density)
data = DataFrame({'population' : population,'density' : density})
data

     population  density
U.P          10      828
M.P          20      236
A.P          30      303
T.N          40      555
BIH          12     1102
W.B          30     1029
J.K          16       57

In [62]:
data = DataFrame({'population(billions)':population,'density':density,'Area':population/density})
data

     population(billions)  density      Area
U.P                    10      828  0.012077
M.P                    20      236  0.084746
A.P                    30      303  0.099010
T.N                    40      555  0.072072
BIH                    12     1102  0.010889
W.B                    30     1029  0.029155
J.K                    16       57  0.280702

In [63]:
data.T

,U.P,M.P,A.P,T.N,BIH,W.B,J.K
population(billions),10.000000,20.000000,30.00000,40.000000,12.000000,30.000000,16.000000
density,828.000000,236.000000,303.00000,555.000000,1102.000000,1029.000000,57.000000
Area,0.012077,0.084746,0.09901,0.072072,0.010889,0.029155,0.280702

In [66]:
data['Area']

U.P    0.012077
M.P    0.084746
A.P    0.099010
T.N    0.072072
BIH    0.010889
W.B    0.029155
J.K    0.280702
Name: Area, dtype: float64

In [67]:
data.to_csv('stats_pop.csv')
data.to_excel('stats_pop.xlsx')
states_csv = pd.read_csv('stats_pop.csv')
states_csv

  Unnamed: 0  population(billions)  density      Area
0        U.P                    10      828  0.012077
1        M.P                    20      236  0.084746
2        A.P                    30      303  0.099010
3        T.N                    40      555  0.072072
4        BIH                    12     1102  0.010889
5        W.B                    30     1029  0.029155
6        J.K                    16       57  0.280702

In [71]:
states_csv['population(billions)']

0    10
1    20
2    30
3    40
4    12
5    30
6    16
Name: population(billions), dtype: int64

In [73]:
data.loc['T.N']

population(billions)     40.000000
density                 555.000000
Area                      0.072072
Name: T.N, dtype: float64

In [78]:
data.iloc[[3]]

     population(billions)  density      Area
T.N                    40      555  0.072072

In [80]:
states_csv.columns=('States','population(billions)','density','Area')
states_csv

  States  population(billions)  density      Area
0    U.P                    10      828  0.012077
1    M.P                    20      236  0.084746
2    A.P                    30      303  0.099010
3    T.N                    40      555  0.072072
4    BIH                    12     1102  0.010889
5    W.B                    30     1029  0.029155
6    J.K                    16       57  0.280702

In [81]:
sum(density)

4110

In [84]:
sum(population)

158

In [85]:
min(density)

57

In [86]:
max(density)

1102

In [89]:
st = states_csv.set_index('States')
st

        population(billions)  density      Area
States
U.P                       10      828  0.012077
M.P                       20      236  0.084746
A.P                       30      303  0.099010
T.N                       40      555  0.072072
BIH                       12     1102  0.010889
W.B                       30     1029  0.029155
J.K                       16       57  0.280702

In [90]:
st['population(billions)']['A.P']

30